version: "3.9"

services:
  web:
    build: .
    container_name: storepilot_app
    command: gunicorn StorePilot.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: mysql:8
    container_name: storepilot_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: storepilot
      MYSQL_USER: storeuser
      MYSQL_PASSWORD: storepass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
  static_volume:
